@model ShuffleboardApplication.Models.Game

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <div class="form-horizontal">
        <h4>Game</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">

                <!-- change the width of player score editor for perhaps by changing width in css or something-->
                @*@Html.TextBox("P1", null, new { @class = "form-control", @placeholder = "Player 1 Username" })*@
                @Html.DropDownList("P1", (IEnumerable<SelectListItem>)ViewBag.PlayersList, null, new { @class = "form-control" })
                <div class="error">
                    @Html.ValidationMessageFor(model => model.P1)
                </div>
                @Html.EditorFor(Model => Model.P1Score, new { htmlAttributes = new { @class = "form-control", @placeholder = "P1 Score" } })
                <div class="error">
                    @Html.ValidationMessageFor(model => model.P1Score)
                </div>
                <p></p>
                @*@Html.TextBox("P2", null, new { @class = "form-control", @placeholder = "Player 2 Username" })*@
                @Html.DropDownList("P2", (IEnumerable<SelectListItem>)ViewBag.PlayersList, null, new { @class = "form-control" })
                <div class="error">
                    @Html.ValidationMessageFor(model => model.P2)
                </div>
                @Html.EditorFor(Model => Model.P2Score, new { htmlAttributes = new { @class = "form-control", @placeholder = "P2 Score" } })
                <div class="error">
                    @Html.ValidationMessageFor(model => model.P2Score)
                </div>
                <p></p>
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Games Page", "Index")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}