@model IEnumerable<ShuffleboardApplication.Models.Game>

@{
    ViewBag.title = "Index";
}

<h2>Games</h2>

<!--Hello this is a test to git hub to see if it works-->
<p>
    @Html.ActionLink("Submit a Game", "Create")
</p>
<!--
 <p>
    @Html.ActionLink("Edit Game", "Edit")
</p>
-->


<table class="table" id="gamesTable">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm})
        </th>
        <th>
            @Html.ActionLink("Player 1", "Index", new { sortOrder = ViewBag.P1SortParm })
        </th>
        <th>
            @Html.ActionLink("Player 2", "Index", new { sortOrder = ViewBag.P2SortParm })
        </th>
        <th>
            @Html.ActionLink("Score", "Index", new { sortOrder = ViewBag.ScoreSortParm })
        </th>
        <th>
           
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P1Score) - @Html.DisplayFor(modelItem => item.P2Score)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "Game", new { id = item.GameID }, null)
            <a href="@Url.Action("Delete", "Game", new { id = item.GameID}, null)" class="btn btn-danger">
                <i class="fas fa-trash"></i>
            </a>

        </td>
    </tr>
    }

</table>
