@model IEnumerable<ShuffleboardApplication.Models.Game>

@{
    ViewBag.title = "Index";
}

<h2>Games</h2>

<p>
    @Html.ActionLink("Submit a Game", "Create")
</p>
<!--
 <p>
    @Html.ActionLink("Edit Game", "Edit")
</p>
-->


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P1Score)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.P2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P2Score)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2Score)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GameID }) |
                @Html.ActionLink("Details", "Index", new { id = item.GameID }) |
                @Html.ActionLink("Delete", "Index", new { id = item.GameID })
            </td>
        </tr>

    }

</table>
