@model ShuffleboardApplication.Models.Player

@{
    

    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Player</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBox("FirstName", null, new { @class = "form-control", @placeholder = "First Name" })
                <p></p>
                @Html.TextBox("LastName", null, new { @class = "form-control", @placeholder = "Last Name" })
                <p></p>
                @Html.TextBox("Username", null, new { @class = "form-control", @placeholder = "Username" })
            </div>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

}

        <div>
            @Html.ActionLink("Back to Player Page", "Index")
        </div>
        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")
        }
