@model ShuffleboardApplication.Models.Player
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gamesPlayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gamesWon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CummulativePoints)
        </th>
        <th>
            PPG
        </th>
        <th>
            Win %
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => Model.Username)
        </td>
        <td>
            @Html.DisplayFor(model => Model.gamesPlayed)
        </td>
        <td>
            @Html.DisplayFor(model => Model.gamesWon)
        </td>
        <td>
            @Html.DisplayFor(model => Model.CummulativePoints)
        </td>
        <td>
            @ViewBag.ppg
        </td>
        <td>
            @ViewBag.win
        </td>
    </tr>
</table>

<table class="table" id="gamesTable">
    <tr>
        <th>
            @Html.Label("Date")
        </th>
        <th>
            @Html.Label("Player 1")
        </th>
        <th>
            @Html.Label("Player 2")

        </th>
        <th>
            @Html.Label("Score")

        </th>
       
        <th>
            @Html.Label("Margin of Victory")

        </th>
        <th></th>

    </tr>

    @foreach (var item in ViewBag.ListGames)
    {
        <tr>
            <td>
                @item.Date

            </td>

            <td>
                @item.P1
            </td>
            <td>
                @item.P2
            </td>
            <td>
                @item.P1Score -  @item.P2Score
            </td>
            
            <td>
               @item.margin

            </td>
        </tr>
    }

</table>