@model IEnumerable<ShuffleboardApplication.Models.Player>


@{
    ViewBag.title = "Index";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Add New Player", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.UsernameSortParm})
        </th>
        <th>
            @Html.ActionLink("# of Games Won", "Index", new { sortOrder = ViewBag.gamesWon })
        </th>
        <th>
            @Html.ActionLink("# of Games Played", "Index", new { sortOrder = ViewBag.gamesPlayed })
        </th>
        <th>
            
        </th>
    </tr>
@foreach(var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Username, "Details", "Player", new { playerID = item.PlayerID}, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gamesWon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gamesPlayed)
        </td>
    </tr>
}
</table>